.fotter{
    width: 100%;
    color: red;
    height: 40vh;
    justify-content: space-around;
    justify-items: center;
    display: flex;
}
.fotter .img{
    width: 24%;
    /* background: yellow; */
}
.fotter .sec{
    width: 14%;
    /* background: yellow; */
}
.fotter .img img{
    width: 300px;
    padding: 30px 0px;
    margin-top: 20px;
    /* margin-left: 25px; */
}
.fotter .img p{
    color: #807f7f;
    font-size: 17px;
    line-height: 27px;
}
.fotter .sec h1{
    font-size: 20px;
    margin-top: 60px;
    line-height: 27px;
    margin-bottom: 25px;
    color: #002964;
    font-weight: 700;
    letter-spacing: 2px;
}
.fotter .sec h3{
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;
    color: #002964;
    margin: 14px 0px;
}

@media(max-width:940px){
    .fotter{
        height: auto;
        width: 100vh;
        display: inline-block;
    }

    .fotter .sec{
        width: 96vh;
        /* background: yellow; */
        text-align: center;
        font-size: 30px;
        padding: 10px;
        margin-left: 23px;
    }

    .fotter .img{
        width: 100vh;
        font-size: 30px;
        padding: 20px;
    }

    .fotter .img p{
        font-size: 30px;
        line-height: 50px;
        margin-left: 23px;



    }
    .fotter .img img{
        width: 60%;
        margin: 30px 0px;
        margin-left: 20px;

    }
    .fotter .sec h1{
        font-size: 40px;
        /* margin: 30px auto; */
        text-align: start;
    }

    .fotter .sec h3{
        font-size: 30px;
        margin-top: 20px;
        text-align: left;
        padding: 20px;
    }
    .fotter .sec .icon{
        /* background: yellow; */
        text-align: center;
        font-size: 40px;
        padding: 20px 5px;
    }
    .copy1{
        background: none;
        width: 100vh;
        height: auto;
        text-align: left;
        padding: 10px;
    }
    .copy1 h1{
        font-size: 20px;
        text-align: start;
        width: 95vh;
        margin-top: 6px;
        margin-left: 0;
        font-weight: 700;

    }
}