.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: #E3E6F3; */
  padding: 20px 80px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.06);
  /* z-index: 999;
  position: sticky; */
  top: 0;
  left: 0;
}

#nav{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
#nav li{
  list-style: none;
  padding: 0 12px;
  position: relative;
  font-weight: 400;
}

#nav li NavLink{
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
  
}